.tittle-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(img/ss-img.jpg);
    height: 100vh;
    transition: background-size 0.5s;
    min-width: 1500px;
    background-attachment: fixed;
}