<div class="bloque container">

    <div class="explain-container">
        
    <div class="title-explain">
            <h1>Song of the Sea</h1>
        </div>
        
        <div class="project uno">
                <div class="informacion">
                <p class="texto">Song of the Sea tells the story of Ben and his little sister Saoirse – the last Seal-child – who embark on a fantastic journey across a fading world of ancient legend and magic in an attempt to return to their home by the sea. The film takes inspiration from the mythological Selkies of Irish folklore, who live as seals in the sea but become humans on land.<br><br><br><br>
                </p>
                <img class="img-project" src="./img/SOTS_Awards.gif" alt="">
            </div>
        </div>
        <div class="project dos">
                <div class="informacion">
            <p class="texto">Song of the Sea, directed by Tomm Moore (The Secret of Kells) features the voices of Brendan Gleeson, Fionnula Flanagan, David Rawle, Lisa Hannigan, Pat Shortt and Jon Kenny. Music is by composer Bruno Coulais and Irish band Kíla, both of whom previously collaborated on The Secret of Kells.</p>
            <img class="img-project" src="./img/Bedroom-Mural.jpg" alt="">
        </div>
        </div>
        <div class="project tres">
            <div class="informacion">
                <p class="texto">“While embodying a mythological Irish (Celtic) motif, the story incorporates a strong theme about rebuilding/restructuring families that connects widely with this modern generation. The entire jury also felt the art direction and music was successful in providing an absolutely “extraordinary” balance in the film. The jury had two strong points of view toward the change in tempo from the first half to the second half of the story in the film. Some expressed ‘the way the delicate love of brothers and human relationships were written was amazing’ while others stated that ‘the climactic action sequence in the last half was phenomenal’. Finding out which part of this film enchants the audiences is an extremely great aspect of the film. It may have just been me, but this is the first time in a long time a film has truly made me cry.”
                    -<a href="http://animefestival.jp/en/">Tokyo Anime Awards</a> 
                </p>
                <br><br>
            </div>
            <img class="img-project" src="./img/fairies.jpg" alt="">
            <br><br>
        </div>
    </div>
    
</div>
