<form novalidate class="work-form ideal">

    <div class="ui.status ideal">
        <div class="form-control-group">
            <label for="nombre">Name</label>
            <input type="text" id="nombre" placeholder="Nombre" required>
        </div>
        <div class="form-control-group">
            <label for="correo">Email</label>
            <input type="email" id="correo" placeholder="Correo" required>
        </div>
        <div class="form-control-group">
            <label for="motivo">Reason</label>
            <input type="text" id="motivo" placeholder="Motivo" required>
        </div>
        <div class="form-control-group">
                <label for="archivos">Links</label>
                <input type="url" id="archivos" placeholder="Archivos" required>
        </div>
        <div>
            <button>Enviar mensaje</button>
        </div>
        <br><br><br>
    </div>   
</form>