<section class="works-list ideal">
    <div class="ui-status empty">
        No hay proyectos actualmente.
    </div>

    <div class="ui-status error">
        Se ha producido un error, inténtalo más tarde.
    </div>

    <div class="ui-status loading">
        Cargando, espere unos segundos...
    </div>

    <div class="ui-status ideal">
        <div class="studio">
        <h1>Cartoon Saloon - Irish Animation Studio</h1>
        </div>
        
        <a href="detail.html">
            <article class="work">
                <img class="poster" src="img/ss.jpg" alt="Nombre">
                <div class="name">Song of the Sea</div>
                <div class="type">Film</div>
            </article>
        </a>
            <article class="work">
                <img class="poster" src="img/secret-square.jpg" alt="Nombre">
                <div class="name">Secret of Kells</div>
                <div class="type">Film</div>
            </article>
        
            <article class="work">
                <img class="poster" src="img/thumbnail-for-website.jpg" alt="Nombre">
                <div class="name">The Breadwinner</div>
                <div class="type">Film</div>
            </article>
        
            <article class="work">
                <img class="poster" src="img/270px.jpg" alt="Nombre">
                <div class="name">Song of the Sea</div>
                <div class="type">Virtual Reality</div>
            </article>
        
            <article class="work">
                <img class="poster" src="img/aa2.jpg" alt="Nombre">
                <div class="name">Anam an Amhrain</div>
                <div class="type">Series</div>
            </article>
        
            <article class="work">
                <img class="poster" src="img/pr.jpg" alt="Nombre">
                <div class="name">Puffin Rock</div>
                <div class="type">Pre-school Tv show</div>
            </article>
        
            <article class="work">
                <img class="poster" src="img/sf_w1.jpg" alt="Nombre">
                <div class="name">Skunk Fu!</div>
                <div class="type">Series</div>
            </article>
        
            <article class="work">
                <img class="poster" src="img/LA_Still_A.png" alt="Nombre">
                <div class="name">Late Afternoon</div>
                <div class="type">Short film</div>
            </article>

            <article class="work">
                <img class="poster" src="img/4_03.png" alt="Nombre"> 
                <div class="name">Somewhere Down the Line</div>
                <div class="type">Short film</div>
            </article>

            <article class="work">
                <img class="poster" src="img/The_Ledge_End.jpg" alt="Nombre">
                <div class="name">Ledge-End of Phil</div>
                <div class="type">Short film</div>
            </article>

            <article class="work">
                <img class="poster" src="img/oldfangs.jpg" alt="Nombre">
                <div class="name">Old Fangs</div>
                <div class="type">Short film</div>
            </article>

            <article class="work">
                <img class="poster" src="img/FromDarkness.jpg" alt="Nombre">
                <div class="name">From Darkness</div>
                <div class="type">Short film</div>
            </article>
     </div>
</section>